
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
  scroll-behavior: smooth;
}
.center-column{
  min-height: 100dvh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.container {
  text-align: left; /* Alinear texto a la izquierda */
  display: flex;
  flex-direction: column;
  justify-content: center;
   /* Espaciado a la izquierda */
}
@media (min-width: 768px) {
  .bar-white {
    border-left: 1px solid rgba(255, 255, 255, 0.081);
    margin-left: 20px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear encabezados a la izquierda */
}
@media (min-width: 550px) {
  .header {
    padding: 100px;
  }
}

.inter-title {
  
  font-weight: 700;
  font-style: normal;
  
}

.inter-subtitle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}

.lines-decor {
  margin-bottom: 20px;
  position: relative; /* Para posicionar la línea blanca */
}

/* Nueva línea blanca */
.lines-decor::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px; /* Ancho de la línea blanca */
  height: 100%; /* Cubrir toda la altura del contenedor */
  z-index: -1; /* Asegurarse de que esté detrás de las líneas */
}

.line-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Definición de anchos para cada línea */
.line-1,
.line-7,
.line-13 {
  width: 220px; /* Longitud para la primera línea */
  height: 18px; /* Altura fija para todas las líneas */
}

.line-2,
.line-5 {
  width: 120px; /* Longitud para la segunda línea */
  height: 18px; /* Altura fija para todas las líneas */
}

.line-3 {
  width: 400px; /* Longitud para la tercera línea */
  height: 18px; /* Altura fija para todas las líneas */
}

.line-4 {
  width: 150px; /* Longitud para la cuarta línea */
  height: 18px; /* Altura fija para todas las líneas */
}

.line-6,
.line-9,
.line-18 {
  width: 200px; /* Longitud para la sexta línea */
  height: 18px; /* Altura fija para todas las líneas */
}

.line-8 {
  width: 140px; /* Longitud para la octava línea */
  height: 18px; /* Altura fija para todas las líneas */
}
.line-10 {
  width: 130px; /* Longitud para la décima línea */
  height: 18px; /* Altura fija para todas las líneas */
  margin-left: 3.5rem;
}

.line-11,
.line-20 {
  width: 100px; /* Longitud para la undécima línea */
  height: 18px; /* Altura fija para todas las líneas */
}

.line-12,
.line-17 {
  width: 250px; /* Longitud para la duodécima línea */
  height: 18px; /* Altura fija para todas las líneas */
}
.line-14,
.line-19 {
  width: 330px; /* Longitud para la duodécima línea */
  height: 18px; /* Altura fija para todas las líneas */
}
.line-15 {
  width: 130px; /* Longitud para la décima línea */
  height: 18px; /* Altura fija para todas las líneas */
}
.line-16 {
  width: 50px; /* Longitud para la duodécima línea */
  height: 18px; /* Altura fija para todas las líneas */
}
.line-21 {
  width: 180px; /* Longitud para la duodécima línea */
  height: 18px; /* Altura fija para todas las líneas */
}
.line-22 {
  width: 70px; /* Longitud para la duodécima línea */
  height: 18px; /* Altura fija para todas las líneas */
}

.dot {
  width: 12px; /* Ancho fijo para todos los puntos */
  height: 12px; /* Altura fija para todos los puntos */
  background-color: #fff;
  border-radius: 50%;
}

/* Colores con gradiente */
.color-1 .line-1 {
  background: linear-gradient(to right, #505cff, #068ca1);
}
.color-2 .line-2 {
  background: linear-gradient(to right, #b0b0b0, #737373);
}
.color-3 .line-3 {
  background: linear-gradient(to right, #d45adf, #701fdad3);
}
.color-3 .line-7 {
  background: linear-gradient(to right, #d45adf, #701fdad3);
}
.color-3 .line-18 {
  background: linear-gradient(to right, #d45adf, #701fdad3);
}
.color-4 .line-4 {
  background: linear-gradient(to right, #df4c13, #edc531);
}
.color-4 .line-13 {
  background: linear-gradient(to right, #df4c13, #edc531);
}
.color-5 .line-5 {
  background: linear-gradient(to right, #4b4b4b, #747474);
}
.color-5 .line-21 {
  background: linear-gradient(to right, #4b4b4b, #747474);
}
.color-6 .line-6 {
  background: linear-gradient(to right, #1e51a3, #23e5fa);
}
.color-6 .line-17 {
  background: linear-gradient(to right, #1e51a3, #23e5fa);
}
.color-7 .line-7 {
  background: linear-gradient(to right, #1d16a0, #54ecfa);
}
.color-8 .line-8 {
  background: linear-gradient(to right, #4b4b4b, #747474);
}
.color-9 .line-9 {
  background: linear-gradient(to right, #df4c13, #edc531);
}
.color-9 .line-20 {
  background: linear-gradient(to right, #df4c13, #edc531);
}
.color-10 .line-10 {
  background: linear-gradient(to right, #54ea68, #b4ff34);
}
.color-11 .line-11 {
  background: linear-gradient(to right, #55eba0, #57f185);
}
.color-11 .line-15 {
  background: linear-gradient(to right, #55eba0, #57f185);
}
.color-12 .line-12 {
  background: linear-gradient(to right, #1addc6, #24d7eb);
}
.color-12 .line-16 {
  background: linear-gradient(to right, #1addc6, #24d7eb);
}
.color-14 .line-14 {
  background: linear-gradient(to right, #f40909, #fff200);
}
.color-14 .line-19 {
  background: linear-gradient(to right, #f40909, #fff200);
}
.color-15 .line-15 {
  background: linear-gradient(to right, #54ea68, #b4ff34);
}
.color-15 .line-14 {
  background: linear-gradient(to right, #54ea68, #b4ff34);
}
.color-16 .line-16 {
  background: linear-gradient(to right, #1e51a3, #23e5fa);
}
.color-16 .line-22 {
  background: linear-gradient(to right, #1e51a3, #23e5fa);
}
/* Responsive */
@media (min-width: 768px) {
  .line {
    width: 300px; /* Aumentar el ancho en pantallas más grandes */
  }
}

.slide-in {
  transform: translateX(-100%); /* Comienza fuera de la pantalla (izquierda) */
  opacity: 0; /* Comienza transparente */
  animation: slide-in 0.5s forwards; /* Animación de deslizamiento */
}

@keyframes slide-in {
  to {
    transform: translateX(0); /* Se mueve a su posición original */
    opacity: 1; /* Se hace visible */
  }
}

.text-article{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.btn-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: .5rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px #00000054;
  background-color: #532ba486;
  
}
.sign{
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  transition-duration: .3s;
  white-space: nowrap;
}

.boton-proyectgitpreview{
  background: transparent;
  border: 2px solid #2D5194;
  padding: .5em 1em .5em .9em;
  border-radius: 24px;
  overflow: hidden;
  transition: all .2s;
  cursor: pointer;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}


.bg-space {
  background: radial-gradient(circle, #1c1c3c 0%, #121212 100%);
  position: relative;
  overflow: hidden;
}

.bg-space::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('ruta-a-tu-imagen-de-estrellas.png');
  opacity: 0.3;
  z-index: 1;
}
.skills-contact{
  color: #f0d698;
}
.contact-color-input{
  background: #121212;
  
  border-bottom: 1px solid white;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.slide-in-right {
  opacity: 0;
  transform: translateX(20px); /* Deslizar desde la derecha */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.slide-in-right.show {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-20px); /* Deslizar desde la izquierda */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slide-in-left.show {
  opacity: 1;
  transform: translateX(0);
}
